@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', normal;
    font-weight: 400;
    box-sizing: border-box;
}
header {
    padding: 0 60px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#heading{
    font-size: calc(13px + 17 * (100vw / 1560));
}
.menu {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.menu a {
    color: #000;
    font-size: calc(10px + 15 * (100vw / 1560));
    text-decoration: none;
} 
.menu li {
    margin-left: calc(5px + 20 * (100vw / 1560));
}
.menu li:hover{
    border-bottom: 1px solid black;
    transition: 0.5s;
}
.drop{
    list-style: none;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    margin: auto 0;
}
.drop li{
    margin-left: 0;
}
.drop a{
    font-size: calc(7px + 10 * (100vw / 1560));
    padding: 10px;
}
.dropdown:hover .drop{
    display: block;
}
.mobile-menu {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    top: 50px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    list-style: none;
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.mobile-menu li:hover{
    border-bottom: 1px solid black;
    transition: 0.5s;
}
.mobile-menu a{
    text-decoration: none;
    color: #000;
    font-size: calc(10px + 15 * (100vw / 1560));
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 20px;
    height: 1px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}
@media only screen and (max-width: 768px) {
    header{
        padding: 0 30px;
        height: 50px;
    }
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }

    .melissa{
        flex-direction: column-reverse;
    }
    .melissa div:first-child{
        padding-right: 0 !important;
    }
    .main-title{
        margin-top: 30px;
    }

    .about{
        flex-direction: column;
        align-items: center;
    }
    .topic-about{
        padding-right: 0 !important;
        padding-bottom: 15px;
    }

    .boxes{
        flex-direction: column;
    }
}
.melissa{
    padding: calc(30px + 30 * (100vw / 1560));
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.melissa div:first-child{
    padding-right: 60px;
}
.title{
    display: flex;
    flex-direction: column;
}
.main-title{
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: calc(20px + 85 * (100vw / 1560));
    letter-spacing: 0.1em;
}
.sub-title{
    text-transform: uppercase;
    font-size: calc(10px + 15 * (100vw / 1560));
    text-align: right;
}
.portrait img{
    width: 100%;
    box-shadow: -19px 19px 0px 0px #ffff, -20px 20px 0px 0px #000;
    object-fit: cover;
}
.about{
    display: flex;
    justify-content: space-between;
    padding: calc(30px + 30 * (100vw / 1560));
}
.topic-about{
    font-size: calc(10px + 10 * (100vw / 1560));
    text-transform: uppercase;
    white-space: nowrap;
    padding-right: 100px;
}
.about p{
    font-style: italic;
    font-weight: 700;
    font-size: calc(15px + 25 * (100vw / 1560));
    text-align: justify;
}
.work{
    padding: calc(30px + 30 * (100vw / 1560));
    background-color: #f2f2f2;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.topic-work{
    font-size: calc(10px + 10 * (100vw / 1560));
    text-transform: uppercase;
    text-align: right;
}
.photos{
    display: flex;
    justify-content: space-between;
    margin-top: calc(10px + 20 * (100vw / 1560));
    gap: calc(5px + 10 * (100vw / 1560));
}
.first, .second, .third{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(5px + 10 * (100vw / 1560));
}
.first img, .second img, .third img, .video-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-box{
    margin-top: calc(10px + 20 * (100vw / 1560));
}
.service{
    padding: calc(30px + 30 * (100vw / 1560));
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.topic-service{
    font-size: calc(10px + 10 * (100vw / 1560));
    text-transform: uppercase;
}
.boxes{
    margin-top: calc(10px + 20 * (100vw / 1560));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(5px + 10 * (100vw / 1560));
}
.box{
    border: 1px solid #000;
    background-color: #f2f2f2;
    padding: calc(15px + 15 * (100vw / 1560));
    text-align: center;
}
.box:hover{
    background-color: #C99C97;
}
.box h3{
    font-size: calc(10px + 20* (100vw / 1560));
    margin-bottom: calc(10px + 5 * (100vw / 1560));
}
.box p{
    font-size: calc(7px + 10 * (100vw / 1560));
    margin-bottom: calc(20px + 30 * (100vw / 1560));
}
.box h4{
    font-style: italic;
    font-weight: 700;
    font-size: calc(10px + 25 * (100vw / 1560));
    margin-bottom: calc(15px + 15 * (100vw / 1560));
}
.book-service{
    border-radius: 50px;
    background-color: #ffff;
    padding: calc(7px + 3 * (100vw / 1560));
    font-size: calc(12px + 3 * (100vw / 1560));
    cursor: pointer;
}
.feedback{
    padding: calc(30px + 30 * (100vw / 1560));
    border-bottom: 1px solid #000;
}
.topic-feedback{
    font-size: calc(10px + 10 * (100vw / 1560));
    text-transform: uppercase;
    text-align: center;
}
.scroll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(5px + 10 * (100vw / 1560));
    margin-top: calc(10px + 20 * (100vw / 1560));
    text-align: center;

}
.comment img{
    padding: calc(5px + 10 * (100vw / 1560));
}
.prev, .next {
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    vertical-align: middle;
    margin-bottom: 30px;
}
.next {
    border-radius: 3px 0 0 3px;
}
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.gift{
    padding: calc(30px + 30 * (100vw / 1560));
    background-color: #f2f2f2;
}
.gift-box{
    padding: calc(15px + 15 * (100vw / 1560));
    background-color: #C99C97;
    border: 1px solid #000;
    text-align: center;
    box-shadow: -14px 14px 0px 0px #f2f2f2, -15px 15px 0px 0px #000;
}
.gift-quote{
    font-style: italic;
    font-weight: 600;
    font-size: calc(10px + 60 * (100vw / 1560));
    letter-spacing: 0.1em;
}
.gift-button{
    border-radius: 50px;
    background-color: #ffff;
    padding: calc(7px + 3 * (100vw / 1560));
    font-size: calc(12px + 3 * (100vw / 1560));
    cursor: pointer;
    margin-top: 10px;
}
.fot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact {
    padding: calc(30px + 30 * (100vw / 1560));
    text-align: center;
    background-color: #000;
    color: #ffff;
}
.contact h2{
    font-size: calc(20px + 10 * (100vw / 1560));
    margin-bottom: 30px;
}
.txt_field, textarea{
    width: calc(200px + 200 * (100vw / 1560));
    height: calc(30px + 30 * (100vw / 1560));
    background-color: #000;
    border: 1px solid #ffff;
    color: #ffff;
    margin-bottom: 30px;
    padding: 0 20px;
}
textarea{
    width: calc(200px + 200 * (100vw / 1560));
    height: calc(100px + 50 * (100vw / 1560));
    padding-top: 13px;
    margin-bottom: 0;
}
button[type="submit"]{
    border-radius: 25px;
    background-color: #ffff;
    padding: calc(7px + 3 * (100vw / 1560));
    font-size: calc(12px + 3 * (100vw / 1560));
    cursor: pointer;
    margin-top: 10px;
}
button[type="submit"]:hover{
    border-color: #ffff;
    color: #ffff;
    transition: .5s;
    background-color: #000;
}
.fot{
    background-color: #000;
    border-top: 1px solid #ffff;
    align-items: center;
    padding: 30px calc(30px + 30 * (100vw / 1560));
}
.copyright{
    color: #ffff;
    font-size: calc(7px + 13 * (100vw / 1560));
    text-transform: uppercase;
    white-space: nowrap;
}
.copyright img{
    width: calc(5px + 10 * (100vw / 1560));
}
.social img{
    width: calc(10px + 10 * (100vw / 1560));
    margin-left: calc(5px + 10 * (100vw / 1560));
    white-space: nowrap;
}

